*.class
target/*

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
out
 
# Eclipse Project files
.classpath
.project
.settings/
 
.DS_Store
Thumbs.db
 
*.bak
*.tem
*.temp
#.swp
*.*~
~*.*
